body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}

input {
  padding: 10px;
  width: 70%;
  margin-bottom: 10px;
}

button {
  padding: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}
